У відомому місті Кизилорда, де знаходяться N центрів, мешкає якийсь граф - Азамат. Він бажає дізнатися кількість
різних будівель доріг між ними, якщо відомо, що два центри можуть бути пов'язані в одному з двох напрямків або не
пов'язані взагалі. Наприклад, при N = 2 виходить 3 варіанти:
<ul>
    <li>обидва центри не пов'язані;</li>
    <li>дорога йде з першого до другого центру;</li>
    <li>дорога йде з другого до першого центру;</li>
</ul>
<strong>Вхідні дані:</strong>
<br />Єдине натуральне число N - кількість центрів у місті, 2 ≤ N ≤ 100.
<br /><strong>Вихідні дані:</strong>
<br />Число різних будівель доріг.