@using Duende.IdentityServer.Extensions
@using static IdentityServer.Models.Account.LoginModel
@model Output
@{
    ViewData["Title"] = "Вхід";
}


@if (User.IsAuthenticated())
{
    <partial name="_AlreadyAuthenticated" />
}
else
{
    <div class="row">
        <div class="col-6 mx-auto">
            <div class="card">
                <div class="card-header">
                    Вхід
                </div>
                <div class="card-body">
                    <div class="text-danger" asp-validation-summary="All"></div>
                    <form method="post">
                        <div class="mt-3">
                            <label class="form-label" asp-for=UserName>Ім'я</label>
                            <input class="form-control" asp-for=UserName value=@Model.UserName />
                        </div>
                        <div class="mt-3">
                            <label class="form-label" asp-for=Password>Пароль</label>
                            <input class="form-control" type="password" asp-for=Password value=@Model.Password />
                        </div>
                        <div class="mt-3">
                            <input
                                class="form-check-input"
                                type="checkbox"
                                asp-for=IsPersistent
                                checked=@Model.IsPersistent
                            />
                            <label class="form-check-label" asp-for=IsPersistent>Запам'ятати мене</label>
                        </div>
                        <button class="btn btn-primary mt-3" type="submit">Ввійти</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
}